@model Infraero.Relprev.Application.ResponsavelTecnico.Queries.GetResponsavelTecnicos.GridResponsavelTecnico
@using System.Security.Claims
@using Infraero.Relprev.Infrastructure.Identity
@using Infraero.Relprev.WebUi.Services
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var userRole = ((ClaimsIdentity)User.Identity).FindFirst(ClaimTypes.Role).Value;

    var requirement = new UserInRoleRequirement(userRole);

}
<div class="row">
    <div class="col-lg-12">
        <form id="form1" class="form-horizontal">
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Pesquisar Responsável Técnico</h2>
                </header>
                <div class="card-body">
                    <div class="form-group row">

                        <div class="col-sm-12 pull-right">

                            <a href="@Url.Action("Create", "ResponsavelTecnico")" id="addToTable" class="btn btn-primary pull-right">Novo Responsável Técnico &nbsp;<i class="fa fa-plus"></i></a>
                        </div>



                    </div>
                    <table class="table table-bordered table-striped mb-0" id="datatable-default">
                        <thead>
                            <tr>
                                <th class="text-center">Nome</th>
                                <th class="text-center">CPF</th>
                                <th class="text-center">E-mail</th>
                                <th class="text-center">Empresa</th>
                                <th class="text-center">Telefone</th>
                                @if ((await AuthorizationService.AuthorizeAsync(User, new string[] { UserRoles.Administrator, UserRoles.GestorSgsoSite }, requirement)).Succeeded)
                                {
                                    <th class="text-center">Ações</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.aaData)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.NomResponsavelTecnico)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NumCpf)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EndEmail)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DscEmpresa)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NumTelefone)</td>
                                    @if ((await AuthorizationService.AuthorizeAsync(User, new string[] { UserRoles.Administrator, UserRoles.GestorSgsoSite }, requirement)).Succeeded)
                                    {
                                        <td class="actions">
                                            <a data-toggle="tooltip" data-placement="top" title="Editar" asp-action="Edit" asp-controller="ResponsavelTecnico" asp-route-id="@item.CodResponsavelTecnico" class="on-default edit-row" style='color: #eea236'><i class="fa fa-pencil"></i></a>
                                            <a data-toggle="tooltip" data-placement="top" title="Excluir" asp-action="Delete" asp-controller="ResponsavelTecnico" asp-route-id="@item.CodResponsavelTecnico" class="on-default remove-row" style='color: #d43f3a'><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </form>
    </div>
</div>
@section CssSpecificVendor {
    <link rel="stylesheet" href="~/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
    <script src="~/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/formatTable.js"></script>

    <script>
        // Tooltip
        (function ($) {

            'use strict';
            var crub = @ViewBag.CrudMessage;

            if (crub===1) {
                new PNotify({
                    title: 'Responsável Técnico',
                    text: 'Cadastro realizado com sucesso!',
                    type: 'success'
                });
            }else if (crub === 2) {
                new PNotify({
                    title: 'Responsável Técnico',
                    text: 'Dados alterados com sucesso.',
                    type: 'warning',
                    icon: 'fa fa-pencil'
                });
            }else if (crub === 3) {
                new PNotify({
                    title: 'Responsável Técnico',
                    text: 'Registro excluído com sucesso.',
                    type: 'error',
                    icon: 'fa fa-trash-o'
                });
            }

                if ($.isFunction($.fn['tooltip'])) {
                    $('[data-toggle=tooltip],[rel=tooltip]').tooltip({ container: 'body' });
                }

        }).apply(this, [jQuery]);

    </script>
}


