@using Infraero.Relprev.CrossCutting.Enumerators
@model Infraero.Relprev.Application.Relato.Queries.GetRelatos.GridRelato
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        @using (@Html.BeginForm("Index", "AtendimentoTecnico", FormMethod.Post))
        {
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Visualizar Relatos para Atendimento Técnico</h2>

                </header>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-sm-right pt-2">Nº do relato <span class="required">*</span> </label>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-key"></i>
                                </span>
                                <input type="text" value="@ViewBag.NumRelato" name="NumRelato" id="NumRelato" class="form-control" placeholder="eg.: Número identificador do relato" maxlength="100" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2">Período da ocorrência</label>
                        <div class="col-lg-6">
                            <div class="input-daterange input-group" data-plugin-datepicker>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>

                                <input id="DtStart" name="DtStart" value="@ViewBag.DtStart"
                                       title="Por favor informe a data início da ocorrência."
                                       style="z-index: auto;"
                                       data-plugin-datepicker data-date-format="dd/mm/yyyy" data-plugin-options='{"language": "pt-BR"}'
                                       placeholder="Data início do período" class="form-control startdate">
                                <span class="input-group-addon">até</span>
                                <input id="DtEnd" name="DtEnd" value="@ViewBag.DtEnd"
                                       title="Por favor informe a data fim da ocorrência."
                                       style="z-index: auto;"
                                       data-plugin-datepicker data-date-format="dd/mm/yyyy" data-plugin-options='{"language": "pt-BR"}'
                                       placeholder="Data fim do período" class="form-control startdate">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Unidade de infraestrutura <span class="required">*</span></label>
                        <div class="col-lg-7">
                            <select class="form-control populate select2" name="ddlUnidadeInfraestrutura" id="ddlUnidadeInfraestrutura"
                                    title="Por favor selecione uma unidade de infraestrutura." 
                                   
                                    asp-items="ViewBag.UnidadeInfraestrutura">
                                <option value="">Selecionar Unidade de infraestrutura</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Responsável Técnico<span class="required">*</span></label>
                        <div class="col-lg-7">
                            <select class="form-control populate select2" name="ddlResponsavelTecnico" id="ddlResponsavelTecnico"
                                    title="Por favor selecione um responsável tecnico."
                                    asp-items="ViewBag.ResponsavelTecnico">
                                <option value="">Selecionar Responável Técnico</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn  btn-primary pull-left mr-2">Pesquisar &nbsp;&nbsp;<i class="fa fa-search"></i></button>
                        </div>
                    </div>




                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2"></label>
                        <div class="col-sm-9">
                            <h4 class="pt-3 mb-0">Situação dos Relatos</h4>

                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Situação dos Relatos<span class="required">*</span></label>
                        <div class="col-sm-8">
                            <div class="radio-custom">
                                <input type="radio" id="radioExample1" name="rdoStatus" checked="" value="">
                                <label for="radioExample1">Todos</label>
                            </div>

                            <div class="radio-custom">
                                <input type="radio" id="rdoTodos" name="rdoStatus" value="@EnumStatusRelato.NaoIniciado.GetHashCode()">
                                <label for="radioExample2">Não iniciados</label>
                            </div>

                            <div class="radio-custom">
                                <input type="radio" id="rdoTecnico" name="rdoStatus" value="@EnumStatusRelato.AguardandoParecerTecnico.GetHashCode()">
                                <label for="radioExample3">Aguardando Parecer</label>
                            </div>

                            <div class="radio-custom">
                                <input type="radio" id="rdoComplemento" name="rdoStatus" value="@EnumStatusRelato.AguardandoComplemento.GetHashCode()">
                                <label for="radioExample4">Aguardando Complemento</label>
                            </div>

                            <div class="radio-custom">
                                <input type="radio" id="rdoResposta" name="rdoStatus" value="@EnumStatusRelato.AguardandoResposta.GetHashCode()">
                                <label for="radioExample5">Aguardando resposta</label>
                            </div>

                            <div class="radio-custom">
                                <input type="radio" id="rdoFinalizado" name="rdoStatus" value="@EnumStatusRelato.Finalizado">
                                <label for="radioExample5">Finalizado</label>
                            </div>

                            <div class="radio-custom radio-danger">
                                <input type="radio" id="rdoCancelado" name="rdoStatus" value="@EnumStatusRelato.Cancelado">
                                <label for="radioExample5">Cancelado</label>
                            </div>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-sm-right pt-2"></label>
                        <div class="col-sm-9">
                            <table class="table table-responsive-md table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>Nº relato</th>
                                        <th>Unidade de infraestrutura</th>
                                        <th>Data ocorrência</th>
                                        <th>Descrição ocorrência</th>
                                        <th>Status</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.aaData)
                                    {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.NumRelato)</td>
                                        <td>@Html.DisplayFor(modelItem => item.UnidadeInfraestrutura.NomUnidadeÌnfraestrutura)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DatOcorrencia)</td>
                                        <td>@Html.DisplayFor(modelItem => item.DscOcorrenciaRelator)</td>
                                        <td>@Html.DisplayFor(modelItem => item.StatusRelato)</td>
                                        <th class="text-center">Ações</th>
                                        <td class="text-center">
                                            <a data-toggle="tooltip" data-placement="top" title="Realiza o cancelamento do Relato de Prevenção "
                                               asp-action="Cancel" asp-controller="Relato" asp-route-id="@item.CodRelato" 
                                               class="on-default edit-row" style='color:#d43f3a'><i class="fa fa-times-circle"></i></a>
                                            <a data-toggle="tooltip" data-placement="top" title="Apresenta a tela de detalhamento do Relato de Prevenção"
                                               asp-action="" asp-controller="" asp-route-id="@item.CodRelato" 
                                               class="on-default edit-row color" style='color:#00A1F2'><i class="fa fa-eye"></i></a>
                                            <a data-toggle="tooltip" data-placement="top" title="Realiza a Classificação do Relato de prevenção"
                                               asp-action="Edit" asp-controller="Relato" asp-route-id="@item.CodRelato" 
                                               class="on-default edit-row color" style='color:#5AB75A'><i class="fa fa-check-square-o"></i></a>
                                            <a data-toggle="tooltip" data-placement="top" title="Finaliza o Relato de Prevenção"
                                               asp-action="Finalize" asp-controller="Relato" asp-route-id="@item.CodRelato" 
                                               class="on-default edit-row color" style='color:#444444'><i class="fa fa-flag"></i></a>
                                            <a data-toggle="tooltip" data-placement="top" title="Atribuir responsável técnico"
                                               asp-action="Index" asp-controller="AtribuirRespRelato" asp-route-id="@item.CodRelato" 
                                               class="on-default edit-row color" style='color:#777777'><i class="fa fa-users"></i></a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-sm-9">
                            <a href="#" class="btn btn-danger pull-left mr-2">Sair &nbsp;&nbsp;<i class="fa fa-remove"></i></a>
                            @*<a href="@Url.Action("Index", "Relato")" class="btn btn-dark pull-left">Voltar &nbsp;&nbsp;<i class="fa fa-reply"></i></a>*@

                        </div>
                    </div>
                </footer>
            </section>
        }
    </div>
</div>
<div id="modalIcon" class="modal-block modal-header-color modal-block-danger mfp-hide">
    <section class="card">
        <header class="card-header">
            <h2 class="card-title">Exclusão</h2>
        </header>
        <div class="card-body">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                    <p class="mb-0">Tem certeza que deseja <b>excluir</b> esse registro?</p>
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-success modal-confirm">Sim &nbsp;&nbsp;<i class="fa fa-thumbs-o-up"></i></button>
                    <button class="btn btn-danger modal-dismiss">Não &nbsp;&nbsp;<i class="fa fa-thumbs-o-down"></i></button>
                </div>
            </div>
        </footer>
    </section>
</div>
@section CssSpecificVendor {

    <link rel="stylesheet" href="~/vendor/datatables/media/css/dataTables.bootstrap4.css" />
    <link href="~/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css" />
}
@section Scripts {
    <script src="~/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="~/vendor/jquery-mask/jquery.mask.js"></script>
    <script src="~/vendor/select2/js/select2.js"></script>
    <script src="~/vendor/bootstrap-timepicker/bootstrap-timepicker.js"></script>
    <script src="~/js/atendimento.js"></script>

    <script>
        // Tooltip
        (function ($) {

            'use strict';

            if ($.isFunction($.fn['tooltip'])) {
                $('[data-toggle=tooltip],[rel=tooltip]').tooltip({ container: 'body' });
            }

        }).apply(this, [jQuery]);
        /*
Name: 			UI Elements / Modals - Examples
Written by: 	Okler Themes - (http://www.okler.net)
Theme Version: 	2.0.0
*/

        (function ($) {

            'use strict';

            /*
            Basic
            */
            $('.modal-basic').magnificPopup({
                type: 'inline',
                preloader: false,
                modal: true
            });

            /*
            Sizes
            */
            $('.modal-sizes').magnificPopup({
                type: 'inline',
                preloader: false,
                modal: true
            });

            /*
            Modal Dismiss
            */
            $(document).on('click', '.modal-dismiss', function (e) {
                e.preventDefault();
                $.magnificPopup.close();
            });

        }).apply(this, [jQuery]);
    </script>
}






