
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @using (@Html.BeginForm("Edit", "UnidadeInfraestrutura", FormMethod.Post))
        {
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Editar Unidade de Infraestrutura</h2>

                </header>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2">Código da unidade <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" rows="3" name="CodUnidade" value="@Model.CodUnidade" class="form-control" placeholder="eg.: Código da unidade  " required maxlength="4">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Sigla <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" rows="3" name="Sigla" value="@Model.Sigla"  class="form-control" placeholder="eg.: Descrição da sigla  " required maxlength="4">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Descrição Unidade Infraestrutura<span class="required">*</span></label>
                        <div class="col-sm-9">
                            <textarea type="text" rows="3" name="Descricao" class="form-control" placeholder="eg.: Descrição da Unidade de Infraestrutura  " required maxlength="50">@Model.Descricao</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Endereço <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" rows="3" name="Endereco"value="@Model.Endereco" class="form-control" placeholder="eg.: Descrição do endereço  " required maxlength="4">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2">Início de vigência</label>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input id="DtIniVigencia"name="DtIniVigencia"value="@Model.DtIniVigencia.ToString("dd/MM/yyyy")" data-plugin-masked-input data-input-mask="99/99/9999" placeholder="__/__/____" class="form-control">
                            </div>
                        </div>

                        <label class="col-lg-2 control-label text-lg-right pt-2">Fim de vigência</label>
                        <div class="col-lg-3 pull-left">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input id="DtFimVigencia"name="DtFimVigencia" value="@Model.DtFimVigencia.ToString("dd/MM/yyyy")"  data-plugin-masked-input data-input-mask="99/99/9999" placeholder="__/__/____" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-sm-9">
                            <button class="btn  btn-success pull-left mr-2">Salvar &nbsp;&nbsp;<i class="fa fa-save"></i></button>
                            <button type="reset" class="btn btn-danger pull-left mr-2">Cancelar &nbsp;&nbsp;<i class="fa fa-remove"></i></button>
                            <a href="@Url.Action("Index", "UnidadeInfraestrutura")" class="btn btn-dark pull-left">Voltar &nbsp;&nbsp;<i class="fa fa-reply"></i></a>

                        </div>
                    </div>
                </footer>
            </section>
        }
    </div>
</div>
@section CssSpecificVendor {

}
@section Scripts {


}