@model Infraero.Relprev.CrossCutting.Models.RelatoModel
@{
    ViewData["Title"] = "Finalize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        @using (@Html.BeginForm("Finalize", "Relato", FormMethod.Post, new { id = "form" }))
        {
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Finalizar Relato de Prevenção</h2>

                </header>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-sm-right pt-2">Nº do relato </label>
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-key"></i>
                                </span>
                                <input type="hidden" id="CodRelato" name="CodRelato" value="@Model.Relato.CodRelato">

                                <input readonly id="CodNumRelato" name="CodNumRelato" value="@Model.Relato.NumRelato" class="form-control" placeholder="eg.: Número identificador do relato" maxlength="12" />

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Unidade de infraestrutura <span class="required">*</span></label>
                        <div class="col-lg-9">
                            <input readonly id="DscUnidadeInfraestrutura" name="DscUnidadeInfraestrutura"
                                   placeholder="eg.: Unidade Infraestrutura"
                                   class="form-control"
                                   value="@Model.Relato.UnidadeInfraestrutura.NomUnidadeÌnfraestrutura">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 control-label text-lg-right pt-2">Data da ocorrência</label>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input readonly id="DtOcorrencia" name="DtOcorrencia"
                                       data-plugin-masked-input data-input-mask="99/99/9999"
                                       placeholder="eg.: Data da ocorrência de prevenção"
                                       class="form-control"
                                       value="@Model.Relato.DatOcorrencia">
                            </div>
                        </div>

                        <label class="col-lg-2 control-label text-lg-right pt-2">Hora da Ocorrência</label>
                        <div class="col-lg-3 pull-left">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </span>
                                <input readonly type="text"
                                       id="HorOcorrencia" name="HorOcorrencia"
                                       data-plugin-timepicker class="form-control"
                                       data-plugin-options='{ "showMeridian": false }'
                                       placeholder="eg.: Horário da ocorrência"
                                       value="@Model.Relato.HorOcorrencia">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Local da Ocorrência <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <div class="col-sm-9">
                                <textarea readonly type="text" rows="3"
                                          name="DscLocalOcorrenciaRelator"
                                          class="form-control"
                                          placeholder="eg.: Nome do Local da Ocorrência do relato  "
                                          required
                                          maxlength="200">@Model.Relato.DscLocalOcorrenciaRelator</textarea>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2"></label>
                        <div class="col-sm-9">
                            <h4 class="pt-3 mb-0">Classificação do relato</h4>

                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Local da ocorrência <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input readonly id="DscLocal" name="DscLocal"
                                   placeholder="eg.: Local da ocorrência"
                                   class="form-control"
                                   value="@Model.Relato.Local.DscLocal">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Sub Local de ocorrência   <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input readonly id="DscSubLocal" name="DscSubLocal"
                                   placeholder="eg.: Sub Local da ocorrência"
                                   class="form-control"
                                   value="@Model.Relato.SubLocal.DscSubLocal">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Assunto <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input readonly id="DsAssunto" name="DsAssunto"
                                   placeholder="eg.: Assunto da ocorrência"
                                   class="form-control"
                                   value="@Model.Relato.Assunto.DscAssunto">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Sub Assunto<span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input readonly id="DsAssunto" name="DsAssunto"
                                   placeholder="eg.: Assunto da ocorrência"
                                   class="form-control"
                                   value="@Model.Relato.Assunto.DscAssunto">
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Envolvidos na ocorrência <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <textarea readonly
                                      name="DscEnvolvidosOcorrencia"
                                      type="text" rows="3"
                                      class="form-control"
                                      placeholder="eg.: Pessoas e / ou veículos envolvidos no relato"
                                      required
                                      maxlength="500">@Model.Relato.DscEnvolvidosOcorrencia</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Descrição da ocorrência <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <textarea readonly type="text" rows="3" name="DscOcorrenciaRelator" class="form-control" placeholder="eg.: Descrição da ocorrência do relato"
                                      required maxlength="1000">@Model.Relato.DscOcorrenciaRelator</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-sm-right pt-2"></label>
                        <div class="col-sm-9">
                            <table class="table table-responsive-md table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th>Descrição do parecer técnico</th>
                                        <th>Responsável técnico</th>
                                        <th>Motivo da Devolução</th>
                                        <th>Status do parecer </th>
                                        <th>Data e Hora</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Foi finalizado levantamento</td>
                                        <td>Uriel</td>
                                        <td>Faltou material</td>
                                        <td>Devolvido</td>
                                        <td>05/12/2019 10:00</td>
                                    </tr>
                                    <tr>
                                        <td>Foi realizado sinalizaçao</td>
                                        <td>Miguel</td>
                                        <td>Faltou material</td>
                                        <td>Parecer aceito</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Foi enviado para atendimento</td>
                                        <td>Maria Flor</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Ações corretivas Recomendadas<span class="required">*</span></label>
                        <div class="col-sm-9">
                            <textarea type="text" rows="3" id="AcoesCorretivasRecomendadas" name="AcoesCorretivasRecomendadas"
                                      class="form-control" placeholder="eg.: Descrição das ações corretivas recomendadas"
                                      title="Por favor informe a descrição das ações corretivas recomendadas"
                                      required maxlength="60"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-sm-right pt-2"></label>
                        <div class="col-sm-9">

                            <table id="datatable-default" class="table table-responsive-md table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th colspan="4" class="text-center">Nome dos arquivos anexo</th>
                                    </tr>

                                    <tr>
                                        <th>Arquivo</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @Model.Relato.ListArquivo)
                                    {
                                        <tr>
                                            <td>@item.Arquivo</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-sm-9">
                            <button data-toggle="tooltip" data-placement="bottom" title="Finalizar Atendimento" class="btn  btn-success pull-left mr-2">Salvar &nbsp;&nbsp;<i class="fa fa-save"></i></button>
                            <a href="@Url.Action("Index", "Relato")" class="btn btn-danger pull-left mr-2">Sair &nbsp;&nbsp;<i class="fa fa-remove"></i></a>
                            @*<a href="@Url.Action("Index", "Relato")" class="btn btn-dark pull-left">Voltar &nbsp;&nbsp;<i class="fa fa-reply"></i></a>*@

                        </div>
                    </div>
                </footer>
            </section>
        }
    </div>
</div>
@section CssSpecificVendor {
    <link rel="stylesheet" href="~/vendor/datatables/media/css/dataTables.bootstrap4.css" />
}
@section Scripts {
    <script src="~/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/js/finalizar.js"></script>
}



