
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        @using (@Html.BeginForm("Create", "Empresa", FormMethod.Post, new { id = "form" }))
        {
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Cadastrar Empresas para Atendimento de Relato</h2>

                </header>
                <div id="vEmpresa" class="card-body" data-loading-overlay>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Empresa órgão público<span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" name="Empresa" class="form-control" placeholder="eg.: Empresa órgão público" maxlength="60"
                                   title="Por favor informe a empresa órgão público" required />
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">CPNJ <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <input type="text" id="cnpj" name="cnpj" class="form-control" data-input-mask="99.999.999/9999-99"
                                   v-model="params.cnpj"
                                   v-on:blur="ExisteCnpj"
                                   placeholder="eg.: CNPJ da empresa / órgão público" maxlength="18"
                                   required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 control-label text-sm-right pt-2">Telefone <span class="required">*</span></label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input name="Telefone" id="Telefone" data-plugin-masked-input=""
                                       style="z-index: auto;"
                                       data-input-mask="(99) 9999-9999"
                                       placeholder="eg.: Telefone da empresa"
                                       Title="Por favor informe o telefone da empresa"
                                       class="form-control"required>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <div class="row justify-content-end">
                        <div class="col-sm-9">
                            <button class="btn  btn-success pull-left mr-2">Salvar &nbsp;&nbsp;<i class="fa fa-save"></i></button>
                            <button type="reset" class="btn btn-danger pull-left mr-2">Cancelar &nbsp;&nbsp;<i class="fa fa-remove"></i></button>
                            <a href="@Url.Action("Index", "Empresa")" class="btn btn-dark pull-left">Voltar &nbsp;&nbsp;<i class="fa fa-reply"></i></a>

                        </div>
                    </div>
                </footer>
            </section>
        }
    </div>
</div>
@section CssSpecificVendor {
}
@section Scripts {
    <script src="~/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/vendor/jquery-mask/jquery.mask.js"></script>
    <script src="~/js/empresa.js"></script>
        <script>



        (function ($) {​​



            'use strict';
            var crud = @ViewBag.CrudMessage;



            if (crud===1) {​​
                new PNotify({​​
                    title: 'Empresa',
                    text: 'Cadastro realizado com sucesso!',
                    type: 'success'
                }​​);
            }​​else if (crud === 2) {​​
                new PNotify({​​
                    title: 'Empresa',
                    text: 'Dados alterados com sucesso.',
                    type: 'warning'
                }​​);
            }​​else if (crud === 3) {​​
                new PNotify({​​
                    title: 'Empresa',
                    text: 'Registro excluído com sucesso.',
                    type: 'error'
                }​​);
            }​​



            var notify = @ViewBag.NotifyMessage;
            var messagem = '@ViewBag.Notify';



            if (notify===0) {​​
                new PNotify({​​
                    title: 'Empresa',
                    text: messagem,
                    type: 'success'
                }​​);
            }​​else if (notify === 1) {​​
                new PNotify({​​
                    title: 'Empresa',
                    text: messagem,
                    type: 'warning'
                }​​);
            }​​else if (notify === 2) {​​
                new PNotify({​​
                    title: 'Empresa',
                    text: messagem,
                    type: 'error'
                }​​);
            }​​
            var $numTel = $("#Telefone");
            $numTel.keyup(function (event) {​​
                if ($(this).val().length == 15) {​​
                    $numTel.mask('(00) 00000-0009');
                }​​ else {​​
                    $numTel.mask('(00) 0000-00009');
                }​​
            }​​);



        }​​).apply(this, [jQuery]);



    </script>
}

